body {
  background-color: #d4d5d8;
  z-index: -10;
}
.container {
    width: 800px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Ubuntu, sans-serif;
    color: grey;
    min-height: 400px;
    background-color: #627187;
    border-radius: 20px;
}
h1 {
  text-align: center;
  color: white;
}

.form1 {
  margin: auto;
  width: 340px;
  padding: 10px 10px 0px 10px;
}

.form-row {
  height: 40px;
}

input {
  height: 30px;
  border-radius: 10px;
}

#search-string {
  width: 285px;
  float: right;
  color: grey;
}

#interval-txt {
  width: 50px;
  color: white;
  float: right;
  color: grey;
}

#start-btn {
  float: right;
  margin-left: 112px;;
  border-radius: 10px;
}

#stop-btn {
  float: right;
  margin-left: 10px;
  border-radius: 10px;
}

caption {
  color: white;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}

.row2 {
  height: 30px;
}

.row3 {
  height: 50px;
}

.srch-btns-row {
  color: white;
}

#results-box {
  border: 2px solid white;
  min-height: 400px;
  border-radius: 10px;
  background-color: white;
}

#logo {
  width: 75px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}
